.hide {
    display: none;
  }

.usc_short:hover + .hide {
    display: block;
    color: red;
  }

.image {
  max-width: 60%;
}

.text {
font-size: 1rem;
padding-left: 1rem;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1 1 40%;
  padding: 0 1rem;
}

.wrapper{
  max-width: 80%;
}
/* 
div {
  border: 1px solid black;
} */

h1 {
  text-align: center;
}

.project-card {
  background-color: light-grey;
  border: 0;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 500;
  line-height: 3rem;
  padding: 1rem 1rem;
  text-align: right;
  text-emphasis-color: white;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 10px 10px;
}

.project-card:hover {
  background-color: rgb(249,250,251);
}

.site-header{
  border-bottom: 0;
}