---
layout: default
---
<header> <script src="http://d3js.org/d3.v3.min.js" charset="utf-8" ></script></header>
<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.projects.size > 0 -%}
  <p><button onclick=fun() id="fun-btn"> Click me? </button></p>
  
  <div id="fun-canvas-container">
    
  </div>
  <div if="basic-container"">
    <ul class="post-list">
      {%- for post in site.projects -%}
      <li class="project-card">
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h2>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  </div>
    

  {%- endif -%}

</div>
<footer>
  <script src="/js/fun.js"></script>
</footer>
